<div id="productplatforms" class="slide">
     {{#each platforms}}
        <div class="subitem"> 	     
          <a href={{link}} class="btn linkto"><img src={{img_src}} alt={{name}} /></a>
          <div class="itm-grp">
               <h3>{{name}}</h3>
               <h4>{{type}}</h4>
          </div>
	  <p>{{desc}}</p>
	</div>
      {{/each}} 	
</div>  