<div id="listCtg-{{productlist.category_id}}" class="list">
   <h2 class="list-hdr"></h2>
   {{#each productlist.products}}
    <div id="product-{{id}}" class="item">
      <div class="slider prev" title="detail"><span><--Details</span></div>
      <div class="slider next" title="download"><span>Get this--></span></div>
      <div id="productdetail" class="slide"> 
        <!--       <img src='{{img_src}}' alt="Icon" /> -->
        <h2 class="item-hdr">{{name}}</h2>
        <p>{{desc}}</p>
        <input type="hidden" name="product-id" value='{{id}}'>
      </div>  
      {{> product-platforms}}
    </div>
    {{/each}}
</div>