<!doctype html>
<html lang="en" ng-app="controllers">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/sculptor-styles.css">
  </head>
  <body>
    <div id="home" data-type="background" data-speed="10" class="pages" ng-Controller="ProductPlatformsCtrl">
      <div id="home-categ" class="nav-home">
	<% for(var i=0; i < categories.length; i++) { %>
	<ul>
	  <li value='<%= categories[i].id %>' ><%= categories[i].name %></li>
        </ul>
	<% } %>
      </div>
      <div id="panel" class="panel-home">
	<h2 class="list-hdr"></h2>
	<% for(var i=0; i < categories.length; i++) { %>
	<div id="panel-list-"+<%= categories[i].id %> class="list-panel-home">
	  <% for(var j = 0; j < products.length && products[j].category_id == categories[i].id ; j++) { %>
          <div class="item-panel-home"> 
<!--	    <img src='<%= products[j].img_src %>' alt="Icon" /> -->
	    <h2 class="item-hdr"><%= products[j].name %></h2>
	    <p><%= producsts[j].desc %></p>
	    <a href="#" class="btn download" ng-click="getPlatforms()">Download</a>
	    <input type="hidden" name="panel-pid" value=<%= products[j].id %> >
	  </div>  
	  <% } %>
	</div>	
        <% } %>
      </div>
    <div id="popup" class="popup-home">
      <div data-ng-repeat="platform in platforms">
	<img src={{platform.img_src}} alt={{platform.name}} />
	<div class="pfrm-popup-home">
	  <h3>{{platform.name}}</h3>
	  <h4>{{platform.type}}</h4>
	</div>
	<p>{{platform.desc}}</p>
      </div>	
    </div>     
    <input type="hidden" id="product_id" ng-model="productId">
    </div>
   <div id="about" data-type="background" data-speed="10" class="pages">
      <article>Scrolling to About</article>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/apiController.js"></script>
    <script src="js/apiService.js"></script>
    <script>
      $(document).ready(function() {
          $('.nav-home li:first').click();
          $('div[data-type="background"]').each(function() {
              var $bgobj = $(this);
              $(window).scroll(function() {
                  var ypos = -($(this).scrollTop() / $bgobj.data('speed'));
                  var coords = '50% ' + ypos + 'px';
                  $bgobj.css({backgroundPosition: coords });
             });
          });
	  $('.btn.download').click(function() {
	     $('#product_id').value($('this ~ input[name="panel-pid"]').value());
	  });   
          $('.nav-home li').click(function() {
             var panel_id = "panel-list-" + $(this).value();
             $('.panel-home > h2.list-hdr').text($(this).text());
             $('.list-panel-home').addClass('hide');
             $(panel_id).removeClass('hide');
          });
      });
   </script>
  </body>
</html>
    
